/* ----- INDEX ----- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3bd6c6;
}

#home {
	height: 100vh;
	position: relative;
	background-color: #3bd6c6;
	margin: 0;
	padding: 0;
	color: #fff;
}

.logo {
    width: 75px;
    height: 95px;
    display: inline;
    padding-bottom: 20px;
}

.office {
	display: inline;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-27.5%, -140%);
}

.office span {
	padding: 5px;
}

h1 {
	font-size: 5.6rem;
    font-weight: 700;
}

span {
	font-size: 4rem;
}

.stellar {
	top: 20%;
	left: 50%;
	transform: translate(-27%, -40%);
}

.services {
	top: 50%;
	left: 50%;
	transform: translate(-27%, -60%);
}

.stellar, .services {
	width: 100%;
    position: absolute;
}

.title {

}

.contact-btn {
	padding: 10px;
	width: 250px;
	height: 50px;
	font-size: 17pt;
	font-weight: 700;
	background-color: #89ecda;
	text-align: center;

	text-decoration: none !important;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 250%);
}

nav {
	font-weight: 700;
}

a {
	color: #fff !important;
}

#services {
	background-color: #fff;
	color: #292b2c;
	text-align: center;
	padding: 50px;
	margin: 0 auto;
}

#contact {
	width: 100%;
	background-color: #fff;
	margin: 0 auto;
	padding: 50px;
}

h1, h2, h3 {
	font-weight: 700;
}

.form {
	line-height: 50px;
	background-color: #3bd6c6;
	color: #fff;
	max-width: 500px;
	padding-top: 20px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 700;
}

input, textarea {
	width: 75%;
	padding: 5px;
	color: #fff;
}

.form input[type='submit'] {
	width: 100%;
}

button, input, .btn, textarea {
	background-color: #89ecda;
	border: none;
	color: #fff;
	font-weight: 700;
	font-size: 1.2rem;
}

input:invalid {
	background-color: rgb(255, 0, 0);
}
